<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-4 fw-bold mb-4 position-relative home-title">
                    Streamline your thoughts and access your notes from anywhere.
                </h1>
                <p class="fs-4 mb-4">
                    Discover Notes – the straightforward, free note-taking app crafted with Node.js, EJS, and MongoDB.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes now!</a>
            </div>
        </div>
    </main>
</div>
